<% @view_list.each do |p| %>
     
     <div class ="container mt-5">
             <div class="card">
          <div class="card-header">
            게시글 <%=p.id %>
          </div>
          <div class="card-block">
            <h4 class="card-title"><a href="/show/<%=p.id%>"><%= p.title %></a></h4>
            <span style="font: italic bold;font-size: 10pt"><p class="card-text"><%= p.editor %></p></span><br>
          </div>
        </div>
        </div>
    <% end %>
 
  <div class="container mt-3">
            <button type="button" class="btn btn-success"><a href="/new">글쓰기</a></button>
            </div>

        